* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    font-size: 28px;
    transition: transform 0.5s ease-in-out;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    padding: 15px;
    font-size: 16px;
    color: #aaa;
    background-color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}